@page "/projects/{ProjectId}/reestr/{SectionId}"
@model Diplom.Web.Areas.Employee.Pages.Sections.ViewModel
@{
}

<ul class="sidenav nav-tabs" id="myTab" role="tablist">
    <li>
        <a asp-page="/Projects/View" asp-route-projectId="@Model.ProjectId" class="sidenav-link" role="tab">
            <img src="~/images/bootstrap/info.svg" />
            <i class="bi bi-house"></i>Паспорт проекта
        </a>
    </li>
    <li>
        <a asp-page="/Projects/Participants" asp-route-projectId="@Model.ProjectId" class="sidenav-link" role="tab">
            <img src="~/images/bootstrap/participant.svg" />
            <i class="bi bi-people"></i>Участники
        </a>
    </li>
    <li>
        <a asp-page="/Projects/Documentation" asp-route-projectId="@Model.ProjectId" class="sidenav-link" role="tab">
            <img src="~/images/bootstrap/doc.svg" />
            <i class="bi bi-file-earmark"></i>Документация
        </a>
    </li>
    <li>
        <a asp-page="/Projects/Reestr" asp-route-projectId="@Model.ProjectId" class="sidenav-link" role="tab">
            <img src="~/images/bootstrap/list.svg" />
            <i class="bi bi-file-earmark"></i>Реестр ИД
        </a>
    </li>
    <li>
        <a asp-page="/Sections/View" asp-route-projectId="@Model.ProjectId" asp-route-sectionId="@Model.SectionId" class="sidenav-link sidenav-link-active" role="tab">
            <img src="~/images/bootstrap/list.svg" />
            <i class="bi bi-file-earmark"></i>@Model.ProjectSection!.Name
        </a>
    </li>
    <li>
        <a asp-page="/Projects/Works" asp-route-projectId="@Model.ProjectId" class="sidenav-link" role="tab">
            <img src="~/images/bootstrap/work.svg" />
            <i class="bi bi-file-earmark"></i>Работы
        </a>
    </li>
    <li>
        <a asp-page="/Projects/Materials" asp-route-projectId="@Model.ProjectId" class="sidenav-link" role="tab">
            <img src="~/images/bootstrap/material.svg" />
            <i class="bi bi-file-earmark"></i>Материалы
        </a>
    </li>
</ul>

<div class="content">
    <div class="col-md-auto">
        <div class="row">
            <div class="col">
                <p style="color: rgba(0, 0, 0, 0.54);">@Model.ProjectSection!.Name</p>
            </div>
            <div class="col-2" style="text-align: right">
                <form method="post">
                    <a class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#sectionModal"><img src="~/images/bootstrap/edit.svg" style="display: block; margin: 0 auto;" /></a>
                    <a class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#workModal">
                        <img src="~/images/bootstrap/plus.svg" width="16" style="display: block; margin: 0 auto;" />
                    </a>
                    <button type="submit" class="btn btn-outline-secondary btn-sm" asp-page-handler="DeleteSection" onclick="return confirm('Вы уверены, что хотите удалить этот раздел?');"><img src="~/images/bootstrap/trash.svg" style="display: block; margin: 0 auto;" /></button>
                </form>
            </div>
        </div>
    </div>

    <div class="information">
        
        @foreach (var work in Model.ProjectSection!.Works)
        {
            <div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
                <div class="row mb-2">
                    <div class="col">
                        <div class="col-12 col-md-7 label">
                            <span class="col-form-label p-0" style="color: rgba(0, 0, 0, 0.54);">
                                Наименование
                            </span>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="ms-3">@work.Name</div>
                        </div>
                    </div>

                    <div class="col-2" style="text-align: right">
                        <a class="btn btn-outline-secondary btn-sm" asp-page="">
                            <img src="~/images/look.svg" width="21" style="display: block; margin: 0 auto;" />
                        </a>
                        <button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseType1" aria-expanded="false" aria-controls="collapseType1">
                            <img src="~/images/bootstrap/arrow-down.svg" />
                        </button>

                    </div>
                </div>
                <div class="collapse" id="collapseType1">
                    <div class="card card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="row p-2">
                                        <div class="col-12 col-md-4 label">
                                            <span class="col-form-label p-0" style="color: rgba(0, 0, 0, 0.54);">Наим. проект. док.</span>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            @work.NameProjectDoc
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="row p-2">
                                        <div class="col-12 col-md-4 label">
                                            <span class="col-form-label p-0" style="color: rgba(0, 0, 0, 0.54);">Номер проект. док.</span>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            @work.NumberProjectDoc
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="row p-2">
                                        <div class="col-12 col-md-4 label">
                                            <span class="col-form-label p-0" style="color: rgba(0, 0, 0, 0.54);">Наим. раб. док.</span>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            @work.NameWorkDoc
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="row p-2">
                                        <div class="col-12 col-md-4 label">
                                            <span class="col-form-label p-0" style="color: rgba(0, 0, 0, 0.54);">Номер раб. док.</span>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            @work.NumberWorkDoc
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<!-- Modal -->
<div class="modal fade modal-lg" id="sectionModal" tabindex="-1" aria-labelledby="sectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sectionModalLabel">Редактирование раздела</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="row mb-3 align-items-center">
                        <div class="col-12 col-md-3">
                            <label asp-for="Name" class="col-form-label col-form-label-lg p-0"></label>
                        </div>
                        <div class="col-12 col-md-6">
                            <input asp-for="Name" required class="form-control form-control-lg">
                        </div>
                    </div>
                    <div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade modal-lg" id="workModal" tabindex="-1" aria-labelledby="workModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="workModalLabel">Добавление работы</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-page-handler="AddWork">
                <div class="modal-body">
                    <div class="row mb-3 align-items-center">
                        <div class="col-12 col-md-3">
                            <label asp-for="WorkName" class="col-form-label col-form-label-lg p-0"></label>
                        </div>
                        <div class="col-12 col-md-6">
                            <input asp-for="WorkName" required class="form-control form-control-lg">
                        </div>
                    </div>
                    <div>
                        <span asp-validation-for="WorkName" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>